<template>
  <div class="panel-container">
    <div class="panel">
      <EntelgyFile title="Descriptors" />
      <EntelgyFile title="D520 document" />
    </div>
    <PaperButton label="VALID DESCRIPTORS" />
  </div>
</template>
<script>
import EntelgyFile from "@/components/EntelgyFile";
import PaperButton from "@/components/PaperButton";

export default {
  components: {
    EntelgyFile,
    PaperButton,
  },
};
</script>
<style lang="scss" scoped>
.panel-container {
  margin: 24px;
  padding: 16px;
  color: #757575;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  .panel {
    min-height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
</style>
