<template>
    <div class="panel-container">
        <EntelgyFile title="Descriptors"/>
    </div>
</template>
<script>
import EntelgyFile from '@/components/EntelgyFile';
export default {    
    
    components:{
        EntelgyFile
    }
}
</script>
<style lang="scss" scoped>
    .panel-container{
        margin: 24px;
        padding: 16px;
        color: #757575;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0 ,0.2);
    }
</style>
