<template>
  <div class="panel-container">
    <EntelgyFile
      @set-values="getValues($event)"
      title="RAML"
      pattern="^.*.(zip)$"
      filters=".zip"
    />
    <div v-if="values.showInfo" class="content-form">
      <PaperButton label="Load RAML" />
    </div>
  </div>
</template>
<script>
import EntelgyFile from "@/components/EntelgyFile";
import PaperButton from "@/components/PaperButton";

export default {
  data() {
    return {
      values: {
        showInfo: false,
      },
    };
  },
  components: {
    EntelgyFile,
    PaperButton,
  },
  methods: {
    getValues(e) {
      this.values = e;
    },
  },
};
</script>
<style lang="scss" scoped>
.panel-container {
  margin: 24px;
  padding: 16px;
  color: #757575;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
</style>
