<template>
    <div class="card-container">
        <img src="@/assets/img/logo-entelgy-peru.jpg" alt="">
        <!-- <EntelgyFile/> -->
    </div>
</template>
<script>
export default {    
    
    components:{
    }
}
</script>
<style lang="scss">
.card-container{
    height: 300px !important;
    width: 800px !important;
    margin-bottom: 0 !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 50px !important;
    padding: 16px;
    color: #757575;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0 ,0, 0 ,0.14), 0 1px 5px 0 rgba(0 ,0, 0 ,0.2), 0 3px 1px -2px rgba(0 ,0, 0,0.2);
    img{
        width: 100%;
    height: 100%;
    margin: auto;
    }
}
</style>