<template>
  <div class="container-entelgy-file">
    <div class="box" id="filedrag">
      <input
        ref="file"
        type="file"
        name="fileselect"
        id="fileselect"
        class="inputfile inputfile-1"
        onfocus=""
        @change="changeHandler($event)"
        :accept="filters"
      />
      <div id="filedrag" class="box-file" style="display: block">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="17"
          viewBox="0 0 20 17"
        >
          <path
            d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"
          ></path>
        </svg>
        <span style="font-size: 13px">Select {{ title }}</span>
      </div>
    </div>
    <EntelgyMessage :addClass="addClass" :show="showInfo" :text="fileName" />
  </div>
</template>
<script>
import EntelgyMessage from "./EntelgyMessage";
export default {
  props: {
    title: String,
    filters: String,
    pattern: String,
  },
  data() {
    return {
      showInfo: false,
      statusInfo: "",
      tempFile: {},
      maxSizeFiles: 3145728,
      fileName: "",
      addClass: "",
    };
  },
  methods: {
    changeHandler(e) {
      // this.domHost.messages = [];
      this.showInfo = false;
      this.statusInfo = "info";
      if (e.target.files.length === 0 && this.tempFile !== null) {
        e.target.files = this.tempFile;
      }
      if (e.target.files.length > 0) {
        this.fileName = e.target.files[0].name;
        let patt = new RegExp(this.pattern);
        if (!patt.test(this.fileName)) {
          this.concatenateSize(e.target.files[0].size);
          this.$refs.file.value = null;
          // this.domHost.showFields = true;
          this.fileName = this.fileName.concat(" ", "is invalid.");
          return;
        }
        this.concatenateSize(e.target.files[0].size);
        this.tempFile = e.target.files;
        // this.domHost.showFields = false;
        this.$emit("set-values", {
          tempFile: this.tempFile,
          fileName: this.fileName,
          showInfo: this.showInfo,
        });
      } else {
        this.$refs.file.value = null;
        this.statusInfo = "error";
        this.fileName = "File es required";
      }
    },
    // _addEventFiles: function (e) {
    //     this.$.fileselect.click();
    // },
    concatenateSize(size) {
      if (this.fileName !== undefined) {
        if (size > this.maxSizeFiles) {
          this.statusInfo = "error";
        }
        this.addClass = "info";
        this.showInfo = true;
        this.fileName = this.fileName.concat(" ", this.convertSize(size));
      }
    },
    convertSize(size) {
      let residuo = size % 1024;
      let kb = (size - residuo) / 1024;

      let concatenate = undefined;
      if (kb > 1024) {
        let residuoKb = kb % 1024;
        let mb = (kb - residuoKb) / 1024;
        if (mb > 1024) {
          let residuoMb = mb % 1024;
          let gb = (mb - residuoMb) / 1024;
          concatenate = "<b>(".concat(
            this.concatenateValues(gb, residuoMb),
            " GB)</b>"
          );
        } else {
          concatenate = "<b>(".concat(
            this.concatenateValues(mb, residuoKb),
            " MB)</b>"
          );
        }
      } else {
        concatenate = "(".concat(this.concatenateValues(kb, residuo), " KB)");
      }
      return concatenate;
    },
    concatenateValues(entero, decimal) {
      return Number(entero + "." + decimal).toFixed(2);
    },
    // isValidate: function () {
    //     if (this.status === undefined || this.status === 'error') {
    //         return false;
    //     }
    //     return true;
    // }
  },
  components: {
    EntelgyMessage,
  },
};
</script>
<style lang="scss" scoped>
.container-entelgy-file {
  display: inline-block;
}
.box {
  font: 900 14px Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  background-color: white;
  text-align: center;
  border: 1px dashed;
  border-radius: 3px;
  padding: 5px;
  cursor: pointer;
  width: 200px;
  color: #757575;
  position: relative;
  .inputfile {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    position: absolute;
    z-index: -1;
    appearance: initial;
    background-color: initial;
    cursor: default;
    align-items: baseline;
    color: inherit;
    text-overflow: ellipsis;
    white-space: pre;
    text-align: start !important;
    padding: initial;
    border: initial;
    overflow: hidden !important;
    z-index: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    cursor: pointer;
  }
  input[type="file"]::-webkit-file-upload-button {
    display: none;
    width: 0px;
  }
  .box-file {
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    overflow: hidden;
    padding: 0;
    width: 100%;
    color: #757575;

    svg {
      width: 1em;
      height: 1em;
      vertical-align: middle;
      fill: currentColor;
      margin-top: -0.25em;
      margin-right: 0.25em;
    }
  }
}
</style>