<template>
  <div class="alert" :class="classAlter" id="content" v-if="show">
    <div class="entelgy-message">
      <p>{{ text }}</p>
    </div>
  </div>
</template>
<script>
export default {
  props: ["text", "addClass", "show"],
  data() {
    return {
      title: "",
      subtitle: "",
      // body: {
      //     type: String,
      //     reflectToAttribute: true,
      //     observer: '_changeBody'
      // },
      status: "",
      isReady: true,
    };
  },
  computed: {
    classAlter() {
      return this.addClass;
    },
  },
};
</script>
<style lang="scss" scoped>
.alert {
  padding: 0.75rem 1.25rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  font: 400 14px Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
}

.body {
  word-wrap: break-word;
  font-style: oblique;
}

.content {
  // width: 100%;
  display: inline-block;
  height: auto;
  overflow-y: true;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.success {
  background-color: #dff0d8;
  border-color: #d0e9c6;
  color: #3c763d;
}

.info {
  background-color: #d9edf7;
  border-color: #bcdff1;
  color: #31708f;
}

.warning {
  background-color: #fcf8e3;
  border-color: #faf2cc;
  color: #8a6d3b;
}

.error {
  background-color: #f2dede;
  border-color: #ebcccc;
  color: #a94442;
}
</style>