<template>
  <div class="container-paper-input">
    <div class="paper-input">
      <label class="label" for="">{{ label }}</label>
      <input
        required
        :size="size"
        char-counter=""
        :maxlength="maxlength"
        :allowed-pattern="allowedPattern"
        type="text"
        class="input"
      />
    </div>
  </div>
</template>
<script>
export default {
  props: {
    size: {
      type: String,
      default: "",
    },
    maxlength: {
      type: String,
      default: "",
    },
    allowedPattern: {
      type: String,
      default: "",
    },
    label: {
      type: String,
    },
  },
};
</script>
<style lang="scss" scoped>
.container-paper-input {
  display: block;
  padding: 8px 0;
  height: 62px;
  position: relative;
  box-sizing: border-box;
  position: relative;
  .paper-input {
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    border-bottom: 1px solid #757575;
    height: 100%;

    .label {
      position: absolute;
      right: 0;
      left: 0;
      top: 0;
      width: 100%;
      font: inherit;
      color: #737373;
      -webkit-transition: -webkit-transform 0.25s, width 0.25s;
      transition: transform 0.25s, width 0.25s;
      -webkit-transform-origin: left top;
      transform-origin: left top;
      min-height: 1px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-family: "Roboto", "Noto", sans-serif;
      -webkit-font-smoothing: antialiased;
      font-size: 12px;
      font-weight: 400;
      line-height: 24px;
      // order: -1;
      // padding-left: 5px;
      // transition: all 0.3s ease-in;
      // transform: translateY(20px);
      // pointer-events: none;
    }
    .input {
      position: absolute;
      left: 0;
      bottom: 0;
      outline: none;
      box-shadow: none;
      padding: 0;
      width: 100%;
      max-width: 100%;
      background: transparent;
      border: none;
      color: #212121;
      -webkit-appearance: none;
      text-align: inherit;
      vertical-align: bottom;
      font-family: "Roboto", "Noto", sans-serif;
      -webkit-font-smoothing: antialiased;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
    }
  }
  .input:focus ~ .label,
  .input:valid ~ .label {
    top: -60px;
  }
}
.input:focus ~ .label,
.input:valid ~ .label {
  top: -60px;
}
</style>