<template>
  <div class="container-paper-button">
    <button>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        style="fill: #737373"
      >
        <path
          d="M21.426,11.095l-17-8c-0.35-0.164-0.763-0.113-1.061,0.133C3.066,3.473,2.937,3.868,3.03,4.242l1.212,4.849L12,12 l-7.758,2.909L3.03,19.758c-0.094,0.374,0.036,0.77,0.335,1.015C3.548,20.923,3.772,21,4,21c0.145,0,0.29-0.031,0.426-0.095l17-8 C21.776,12.74,22,12.388,22,12S21.776,11.26,21.426,11.095z"
        ></path>
      </svg>
      {{ label }}
    </button>
  </div>
</template>
<script>
export default {
  props: ["label"],
};
</script>
<style lang="scss" scoped>
.container-paper-button {
  button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    outline: 0;
    background: none;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
      0 3px 1px -2px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    cursor: pointer;
    color: #737373;
    font-family: "Roboto", "Noto", sans-serif;
    border: none;
    margin-top: 15px;
    &:focus,
    &:hover {
      transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    }
    svg {
      margin-right: 5px;
    }
  }
}
</style>