<template>
  <div id="app">
    <div class="app-header-layout">
      <div class="app-header" fixed effects="waterfall">
        <div class="app-toolbar">
          <!-- <paper-icon-button id="toggle" icon="menu" on-tap="openToggle"></paper-icon-button> -->
          <div class="main-title">Entelgy Tools Suite</div>
          <div class="user">
            <!-- <paper-icon-button on-tap="cerrarSesion" title="Cerrar sesión" icon="icons:power-settings-new"></paper-icon-button> -->
          </div>
        </div>
      </div>
      <div class="app-drawer-layout drawerLayout" id="drawerLayout">
        <div class="app-drawer drawer" id="drawer">
          <div class="drawer-content">
            <!-- <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation"> -->
            <div class="container-menu">
              <div class="menu" data-link="./">
                <router-link name="OCFormatter" to="/OCFormatter">
                  <!-- <iron-icon icon="icons:book" class="icon"></iron-icon> -->
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    style="fill: #87868a"
                  >
                    <path
                      d="M19,2.01H6c-1.206,0-3,0.799-3,3v3v6v3v2c0,2.201,1.794,3,3,3h15v-2H6.012C5.55,19.998,5,19.815,5,19.01 c0-0.101,0.009-0.191,0.024-0.273c0.112-0.575,0.583-0.717,0.987-0.727H20c0.018,0,0.031-0.009,0.049-0.01H21v-0.99V15V4.01 C21,2.907,20.103,2.01,19,2.01z M19,16.01H5v-2v-6v-3c0-0.806,0.55-0.988,1-1h7v7l2-1l2,1v-7h2V15V16.01z"
                    ></path>
                  </svg>
                  <label>Formateador OC</label>
                </router-link>
              </div>
              <div class="menu" data-link="./">
                <router-link name="generateDataMock" to="/generateDataMock">
                  <!-- <iron-icon icon="icons:assignment-returned" class="icon"></iron-icon> -->
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    style="fill: #87868a"
                  >
                    <path
                      d="M21.706,5.292l-2.999-2.999C18.52,2.105,18.266,2,18,2H6C5.735,2,5.48,2.105,5.293,2.293L2.294,5.292 C2.112,5.473,2,5.724,2,6v13c0,1.103,0.897,2,2,2h16c1.103,0,2-0.897,2-2V6C22,5.723,21.888,5.473,21.706,5.292z M6.414,4h11.172 l1,1H5.414L6.414,4z M12,18l-5-5h3v-3h4v3h3L12,18z"
                    ></path>
                  </svg>
                  <label>Generador de Data Mock</label>
                </router-link>
              </div>
              <div class="menu" data-link="./">
                <router-link name="moduleGenerator" to="/moduleGenerator">
                  <!-- <iron-icon icon="icons:settings" class="icon"></iron-icon> -->
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    style="fill: #87868a"
                  >
                    <path
                      d="M2.344,15.271l2,3.46c0.276,0.478,0.888,0.642,1.366,0.365l1.396-0.806c0.58,0.457,1.221,0.832,1.895,1.112V21 c0,0.552,0.447,1,1,1h4c0.553,0,1-0.448,1-1v-1.598c0.674-0.28,1.314-0.655,1.895-1.112l1.396,0.806 c0.477,0.275,1.091,0.11,1.366-0.365l2-3.46c0.275-0.476,0.11-1.091-0.365-1.366l-1.372-0.793C19.973,12.743,20,12.371,20,12 s-0.027-0.743-0.081-1.112l1.372-0.793c0.476-0.275,0.641-0.89,0.365-1.366l-2-3.46c-0.276-0.478-0.888-0.642-1.366-0.365 l-1.396,0.806C16.314,5.253,15.674,4.877,15,4.598V3c0-0.552-0.447-1-1-1h-4C9.447,2,9,2.448,9,3v1.598 c-0.674,0.28-1.314,0.655-1.895,1.112L5.71,4.904C5.231,4.627,4.62,4.791,4.344,5.269l-2,3.46c-0.275,0.476-0.11,1.091,0.365,1.366 l1.372,0.793C4.027,11.257,4,11.629,4,12s0.027,0.743,0.081,1.112l-1.372,0.793C2.233,14.18,2.068,14.795,2.344,15.271z M12,8 c2.206,0,4,1.794,4,4s-1.794,4-4,4s-4-1.794-4-4S9.794,8,12,8z"
                    ></path>
                  </svg>
                  <label>Generador de Servicios</label>
                </router-link>
              </div>
              <div class="menu" data-link="./">
                <router-link
                  name="descriptorValidator"
                  to="/descriptorValidator"
                >
                  <!-- <iron-icon icon="icons:book" class="icon"></iron-icon> -->
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    style="fill: #87868a"
                  >
                    <path
                      d="M19,2.01H6c-1.206,0-3,0.799-3,3v3v6v3v2c0,2.201,1.794,3,3,3h15v-2H6.012C5.55,19.998,5,19.815,5,19.01 c0-0.101,0.009-0.191,0.024-0.273c0.112-0.575,0.583-0.717,0.987-0.727H20c0.018,0,0.031-0.009,0.049-0.01H21v-0.99V15V4.01 C21,2.907,20.103,2.01,19,2.01z M19,16.01H5v-2v-6v-3c0-0.806,0.55-0.988,1-1h7v7l2-1l2,1v-7h2V15V16.01z"
                    ></path>
                  </svg>
                  <label>D520 VS Descriptores</label>
                </router-link>
              </div>
              <div class="menu" style="bottom: 0">
                <router-link name="OCFormatter" to="/">
                  <label>&copy; Entelgy</label>
                </router-link>
              </div>
            </div>
            <!-- </iron-selector> -->
          </div>
        </div>
        <div class="app-header-panel" has-scrolling-region>
          <!-- <iron-pages selected="[[page]]" attr-for-selected="name" fallback-selection="view404" role="main"> -->
          <!-- <entelgy-OCFormatter name="OCFormatter"></entelgy-OCformatter>
            <entelgy-generateDataMock name="generateDataMock"></entelgy-generateDataMock>
            <entelgy-descriptorValidator name="descriptorValidator"></entelgy-descriptorValidator>
            <entelgy-moduleGenerator id="moduleGenerator" name="moduleGenerator"></entelgy-moduleGenerator>
            <entelgy-welcome name="welcome"></entelgy-welcome>
            <entelgy-view404 name="view404"></entelgy-view404> -->
          <router-view />
          <!-- </iron-pages> -->
        </div>
      </div>
    </div>
    <!-- <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link>
    </div>
    <router-view/> -->
  </div>
</template>

<style lang="scss" >
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f9f9f9;
}
.app-header-layout {
  width: 100%;
  .app-header {
    height: 64px;
    width: 100%;
    background-color: #00b1c1;
    color: #fff;
    .app-toolbar {
      height: 100%;
      padding: 0 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .main-title {
        font-size: 16px;
        font-weight: 600;
        text-decoration: none;
        color: #fff;
        display: inline-block;
        pointer-events: auto;
        font: 900 14px Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
      }
    }
  }
  .app-drawer-layout {
    width: 100%;
    display: flex;

    .app-drawer {
      width: 260px !important;
      height: 100%;
      background: white;
      min-height: calc(100vh - 64px);
      box-sizing: border-box;
      color: #616161;
      font: 400 14px Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
      min-height: -webkit-calc(100vh - 64px);
      min-height: calc(100vh - 64px);
      width: 260px;
      border-right: 1px solid rgba(0, 0, 0, 0.12);
      .drawer-content {
        .menu {
          a {
            max-width: 260px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            color: #87868a !important;
            font-weight: 800;
            font-size: 13px;
            outline: 0;
            overflow: hidden;
            padding: 12px 24px;
            text-overflow: ellipsis;
            white-space: nowrap;
            text-decoration: none;
            svg {
              color: #87868a !important;
              margin-right: 10px;
            }
          }
        }
      }
    }
    .app-header-panel {
      width: calc(100% - 260px);
    }
  }
}
</style>
